# .NET build output folders
bin/
obj/

# .NET project files
*.dll
*.pdb
*.exe
*.snk

# Visual Studio files
.vs/
*.userprefs
*.suo
*.csproj.user
*.sln.docstates

# NuGet packages
*.nuget.props
*.nuget.targets

.logs/**
.tye/**